/*
  Переменные для вашего проекта
  и их переопределение под различные устройства
*/
:root {
  --accent-color-dark: #FF0070;
  --heading-color-dark: #000028;
  --text-color-dark: #F1B2CE;
  --main-heading-color-dark: #DB00FF;
  --bg-color-dark: #000028;
  --text-shadow: #FF0070;
  --page-font-dark: 'IBM Plex Mono', monospace;
  --page-bg-img-dark: url('../images/cover-image-dark.png');
  --color-menu: #FF0070;
  --title-color: #FF0070;
  --page-heading: #DB00FF;
  --hover-menu: rgba(255, 0, 112, 0.40);
}